<div class="grid grid-cols-5 p-10">
  <div
    class="space-y-2 m-10 p-2 border border-black rounded-lg bg-slate-400 flex flex-col"
    *ngFor="let todo of todos; let i = index"
  >
    <p>user: {{ todo.userId }}</p>
    <h3>{{ todo.title }}</h3>

    <span> {{ todo.completed }} </span>
    <div class="w-full flex items-center justify-center">
      <a
        routerLink="todo/{{ todo.id }}"
        routerLinkActive="active"
        class="border border-black p-3 text-xl w-fit rounded-lg hover:bg-gray-200 transition-all duration-400s"
        >details</a
      >
    </div>
  </div>
</div>
