<div class="text-3xl w-full flex flex-col items-center m-10 space-y-10">

  <p>loading: {{ isLoading }}</p>
  <form class="space-y-5">
    <div class="space-x-3">
      <label for="userId">User: </label>
      <input
        value="{{ singleTodo?.userId }}"
        id="userId"
        class="border border-black rounded-lg w-80 p-2 outline-none"
      />
    </div>
    <div class="space-x-3">
      <label for="title">Title: </label>
      <input
        id="title"
        class="border border-black rounded-lg w-80 p-2 outline-none"
        value="{{ singleTodo?.title }}"
      />
    </div>
    <div>
      <label for="completed"> Completed: </label>
      <select
        name="completed"
        id="completed"
        class="bg-transparent p-2 border border-black rounded-lg cursor-pointer hover:bg-gray-200 transition-all duration-400"
      >
        <option value="false" [selected]="singleTodo?.completed === false">
          False
        </option>
        <option value="true" [selected]="singleTodo?.completed === true">
          True
        </option>
      </select>
    </div>
    <div class="flex justify-between">
      <button
        class="p-3 border border-black rounded-lg w-full hover:bg-gray-200 transition-all duration-400"
        (click)="applyEdit()"
        type="submit"
      >
        apply
      </button>
    </div>
  </form>

  <p>is edited: {{ isEdited }}</p>
</div>
